*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 1200px;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  line-height: 1.5; /* This requires customizing the line height for larger text. */
  font-size: 1.5rem;
  padding: min(3rem, 5%);
  background-color: teal;
  background-image: url(./pyramid.bmp);
  background-repeat: repeat;
  position: relative;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Use `max-width: revert;` if an image is meant to overflow */
}

input, button, textarea, select {
  font: inherit;
}

.page {
  background-color: silver;
  height: 735px;
  width: 640px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border: 6px double black;
  overflow: hidden;
  box-shadow: 6px 6px black;
  position: absolute;
}

.page.close {
  display: none;
}

.page.behind {
  pointer-events: none;
  box-shadow: none;
}

.page2 {
  display: none;
}

header {
  background-color: navy;
  border-bottom: 2px solid black;
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  flex-direction: column;
}

.page.behind header {
  background-color: silver;
  pointer-events: none;
}

.page.behind header .logo {
  color: grey;
}

.top-bar {
  display: flex;
}

.logo {
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 2px solid black;
  font-size: 0.6em;
  flex-grow: 2;
}

.js-close {
  height: 56px;
  width: 56px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-close .close-button {
  border: 4px outset silver;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  height: 100%;
  padding: 0.5rem 0;
  /* box-sizing: border-box; */
}

.js-close .close-button:hover {
  border: 4px inset silver;
}

nav {
  display: flex;
  background-color: silver;
}

.dropdown-button {
  padding: 0.5rem;
  background-color: silver;
  font-weight: bold;
}

.dropdown-content > div {
  padding: 0.5rem;
}

.dropdown-button::first-letter,
.dropdown-content > div::first-letter {
  text-decoration: underline;
}

.css-dropdown {
  /* display: inline-block;  Don't need this because its container is flex?*/
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: max-content;
  height: min-content;
  z-index: 2;
  background-color: white;
  border: 2px solid black;
}

.css-dropdown:first-child .dropdown-content {
  border-left: none;
}

.dropdown-button:hover,
.css-dropdown:hover .dropdown-button {
  background-color: #00000033;
}


.dropdown-content > div:hover {
  background-color: navy;
  color: white;
}

.css-dropdown:hover > .dropdown-content {
  display: flex;
  flex-direction: column;
}

.content {
  background-color: white;
  flex-grow: 1;
  height: 100%;
}

.js-dropdown-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.computer-icon {
  width: 130px;
  height: 130px;
  grid-template-rows: 120px max-content;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  position: relative;
  display: inline-block;
}

.computer-icon img {
  object-fit: cover;
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 1;
}

.computer-icon p {
  width: 100%;
  text-align: center;
  padding: 0.3rem 1rem;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.computer-icon:focus p{
  color: white;
}

.computer-icon:focus   {
  background-color: navy;
}

.js-dropdown {
  width: max-content;
  height: min-content;
  z-index: 2;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  display: none;
  position: absolute;
}

.js-dropdown div {
  padding: 0.5rem;
  display: block;
}

.js-dropdown > div:hover,
.js-dropdown > div:focus {
  background-color: navy;
  color: white;
}

.show {
  display: block;
  top: 80px;
  left: 80px;
}

.page2.show {
  display: flex;
  top: 250px;
  left: 100px;
}


.lorem {
  margin: 0.5rem 2.5rem;
}

footer {
  background-color: silver;
  border-top: 2px solid black;
  padding: 0.5rem;
}

.carousel {
  position: relative;
  height: 100%;
}

.images {
  display: flex;
  position: absolute;
  left: 0px;
}

.controls {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: silver;
  border-top: 2px solid black;
}

.controls > div.left,
.controls > div.right {
  border: 4px outset silver;
  outline: 2px solid black;
  background-color: silver;
  padding: 0 0.5rem;
  cursor: pointer;
}

.controls > div.left:hover,
.controls > div.right:hover {
  border: 4px inset silver;
  background-color: silver;
  padding: 0 0.5rem;
}

.controls .dots {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.dot.selected {
  background-color: navy;
}