*,
html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: tan
}

nav {
  background-color: cadetblue;
  display: flex;
  padding: 1rem;
  flex-direction: row-reverse;
}

nav ul {
  display: none;
}